{% extends 'base.html' %}

{% block content %}
    <table class = "table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Team 1 Name</th>
                <th>Team 2 name</th>
                <th>Team Victory</th>
                <th>Team 1 Kills</th>
                <th>Team 2 Kills</th>
                <th>Team 1 Turrets</th>
                <th>Team 2 Turrets</th>
                <th>Team 1 Gold</th>
                <th>Team 2 Gold</th>
            </tr>
        </thead>
        <tbody>
            {% for row in matches %}
                <tr>
                    <td>{{ row[1].strftime('%Y-%m-%d') }}</td>
                    <td>{{ row[3] }}({{ row[5] }})</td>
                    <td>{{ row[4] }}({{ row[6] }})</td>
                    <td>{{ row[7] }}</td>
                    <td>{{ row[8] }}</td>
                    <td>{{ row[9] }}</td>
                    <td>{{ row[10] }}</td>
                    <td>{{ row[11] }}</td>
                    <td>{{ row[12] }}</td>
                    <td>{{ row[13] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}