{% extends 'base.html' %}

{% block content %}
    <table class = "table table-striped">
        <thead>
            <tr>
                <th>team_ID</th>
                <th>name</th>
                <th>region</th>
                <th>coach</th>
                <th>seeding</th>
            </tr>
        </thead>
        <tbody>
         {% for row in data %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
            </tr>
         {% endfor %}
        </tbody>
    </table>
{% endblock %}